<div class="container-xxl py-5 mt-5 ">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6">
                <h3 class=" text-primary text-uppercase">About Us</h3>
                <h1 class="mb-4 ">Welcome to <span class="text-warning  text-uppercase">Hayat</span></h1>
                <p class="mb-4">Lalchnd Group started its business in hospitality industry in the year 2000 by way of a landmark hotel at Bhubaneswar which has presently grown as one of the best hotels in the city. </p>
                <div class="row g-3 pb-4">
                    <div class="col-sm-4 ">
                        <div class="border rounded p-1">
                            <div class="border rounded text-center p-4">
                                <i class="text-primary mb-2"></i>
                                <h2 class="mb-1">127</h2>
                                <p class="mb-0">Rooms</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 ">
                        <div class="border rounded p-1">
                            <div class="border rounded text-center p-4">
                                <i class="text-primary mb-2"></i>
                                <h2 class="mb-1">78</h2>
                                <p class="mb-0">Staffs</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 ">
                        <div class="border rounded p-1">
                            <div class="border rounded text-center p-4">
                                <i class=" text-primary mb-2"></i>
                                <h2 class="mb-1">47</h2>
                                <p class="mb-0">Clients</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row g-3">
                    <div class="col-6 text-end">
                        <img class="img-fluid rounded w-75 " src="assets/img/about-1.jpg" style="margin-top: 25%;">
                    </div>
                    <div class="col-6 text-start">
                        <img class="img-fluid rounded w-100 " src="assets/img/about-2.jpg">
                    </div>
                    <div class="col-6 text-end">
                        <img class="img-fluid rounded w-50 " src="assets/img/about-3.jpg">
                    </div>
                    <div class="col-6 text-start">
                        <img class="img-fluid rounded w-75 " src="assets/img/about-4.jpg">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-xxl pb-5 mt-5 ">
        <div class="container">
            <div class="row g-5 ">
                <div class="col-lg-6">
                    <h3>WHY CHOOSE US</h3>
                    <p class="mb-4">Lalchnd Group started its business in hospitality industry in the year 2000 by way of a landmark hotel at Bhubaneswar which has presently grown as one of the best hotels in the city. The hotel boasts not only the finest in wining,dining & staying, but the cutting edge in business facilities too. With state of the art technology & warm hospitality, the New Marrion is the perfect venue for meetings  & events. A distinctive feature of the hotel is their highly motivated & well trained staff that provides the kind of attentive, personalised & warm service and has earned a reputation for redefining the paradigm of luxury & excellence in service. The hotel's  commitment to excellence & personalised service has ensured a loyal list of guests & accolades in the hospitality industry.
                    </p>
                </div>
                <div class="col-lg-6">
                    <div class="row g-3">
                        <div class="m-3 ">
                           
                            <h3>Luxury Spa</h3>
                            With the perfect fusion of ancient methodologies and ultra-modern Spa treatments, we let you beat the stress and relax completely.
                        </div>
                        <div class="m-3">
                            <h3>Gym</h3>
                            We have a fully equipped gymnasium with machines & free weights. We also have a yoga room where sessions may be booked on prior appointment. This gym provides what you need to stay in shape. Some workout machines could be missing, but overall the gym provides most of the important equipment needed to proceed with your workout.
                        </div>
                        <span class='bi bi-wifi'></span>
                        <div class="m-3">
                            <h3>Free Wifi</h3>
                            Free high-speed, wireless internet access is available for all our guests throughout the hotel 24x7.
                        </div>
                        <div class="m-3">
                            <h3>Resturant</h3>
                            aste authentic cuisines which are handpicked from the most famous places and presented in a multisensory delight of exciting flavors
                        </div>

                    </div>
                </div>
            </div>
        </div>